#### Import the necessary libraries (pandas, NumPy, matplotlib, SciPy and statsmodels).

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from sklearn import linear_model

#### Import the Compustat dataset for "your" S&P list (see the column "S&P list" of Table 1), and assign it to a DataFrame variable.

In [3]:
dataComp = pd.read_excel('data_comp_sp400.xlsx')
dataComp.head()

,Global Company Key,Data Date,Data Year - Fiscal,Industry Format,Level of Consolidation - Company Annual Descriptor,Population Source,Data Format,Ticker Symbol,Company Name,ISO Currency Code,Assets - Total,Common Shares Outstanding,Liabilities - Total,Operating Income After Depreciation,Sales/Turnover (Net),Research and Development Expense,"Selling, General and Administrative Expense",Active/Inactive Status Marker,Price Close - Annual - Fiscal,Standard Industry Classification Code
0,1076,2018-12-31,2018,INDL,C,D,STD,PRG,PROG HOLDINGS INC,USD,2826.692,67.184,1065.984,290.087,3828.923,NaN,1522.783,A,42.05,6141
1,1076,2019-12-31,2019,INDL,C,D,STD,PRG,PROG HOLDINGS INC,USD,3297.800,66.718,1560.541,313.931,3947.656,NaN,1419.053,A,57.11,6141
2,1274,2018-12-31,2018,INDL,C,D,STD,Y,ALLEGHANY CORP,USD,25344.896,14.577,17482.424,116.616,6873.460,NaN,NaN,A,623.32,6331
3,1274,2019-12-31,2019,INDL,C,D,STD,Y,ALLEGHANY CORP,USD,26931.604,14.365,17950.117,1208.593,9025.716,NaN,NaN,A,799.57,6331
4,1414,2018-12-31,2018,INDL,C,D,STD,PRI,PRIMERICA INC,USD,12595.048,42.694,11133.535,444.893,1899.843,NaN,NaN,A,97.71,6311

###### If "your" type of discretionary costs (see Table 1) is "Discretionary R&D costs", replace the missing values ('NaN') for the 'Research and Development Expense' variable by zero (0).

In [5]:
dataComp['Selling, General and Administrative Expense'] = dataComp['Selling, General and Administrative Expense'].fillna(0)
dataComp.head()

,Global Company Key,Data Date,Data Year - Fiscal,Industry Format,Level of Consolidation - Company Annual Descriptor,Population Source,Data Format,Ticker Symbol,Company Name,ISO Currency Code,Assets - Total,Common Shares Outstanding,Liabilities - Total,Operating Income After Depreciation,Sales/Turnover (Net),Research and Development Expense,"Selling, General and Administrative Expense",Active/Inactive Status Marker,Price Close - Annual - Fiscal,Standard Industry Classification Code
0,1076,2018-12-31,2018,INDL,C,D,STD,PRG,PROG HOLDINGS INC,USD,2826.692,67.184,1065.984,290.087,3828.923,NaN,1522.783,A,42.05,6141
1,1076,2019-12-31,2019,INDL,C,D,STD,PRG,PROG HOLDINGS INC,USD,3297.800,66.718,1560.541,313.931,3947.656,NaN,1419.053,A,57.11,6141
2,1274,2018-12-31,2018,INDL,C,D,STD,Y,ALLEGHANY CORP,USD,25344.896,14.577,17482.424,116.616,6873.460,NaN,0.000,A,623.32,6331
3,1274,2019-12-31,2019,INDL,C,D,STD,Y,ALLEGHANY CORP,USD,26931.604,14.365,17950.117,1208.593,9025.716,NaN,0.000,A,799.57,6331
4,1414,2018-12-31,2018,INDL,C,D,STD,PRI,PRIMERICA INC,USD,12595.048,42.694,11133.535,444.893,1899.843,NaN,0.000,A,97.71,6311

##### Drop all unnecessary columns (i.e., the items that you do not need but are provided in the Compustat dataset).

In [6]:
dataComp.columns

Index(['Global Company Key', 'Data Date', 'Data Year - Fiscal',
       'Industry Format', 'Level of Consolidation - Company Annual Descriptor',
       'Population Source', 'Data Format', 'Ticker Symbol', 'Company Name',
       'ISO Currency Code', 'Assets - Total', 'Common Shares Outstanding',
       'Liabilities - Total', 'Operating Income After Depreciation',
       'Sales/Turnover (Net)', 'Research and Development Expense',
       'Selling, General and Administrative Expense',
       'Active/Inactive Status Marker', 'Price Close - Annual - Fiscal',
       'Standard Industry Classification Code'],
      dtype='object')

In [7]:
c = ['Industry Format', 'Level of Consolidation - Company Annual Descriptor',
       'Population Source', 'Data Format','ISO Currency Code','Data Date']
dataComp.drop(c, axis=1, inplace=True)
dataComp.head()

,Global Company Key,Data Year - Fiscal,Ticker Symbol,Company Name,Assets - Total,Common Shares Outstanding,Liabilities - Total,Operating Income After Depreciation,Sales/Turnover (Net),Research and Development Expense,"Selling, General and Administrative Expense",Active/Inactive Status Marker,Price Close - Annual - Fiscal,Standard Industry Classification Code
0,1076,2018,PRG,PROG HOLDINGS INC,2826.692,67.184,1065.984,290.087,3828.923,NaN,1522.783,A,42.05,6141
1,1076,2019,PRG,PROG HOLDINGS INC,3297.800,66.718,1560.541,313.931,3947.656,NaN,1419.053,A,57.11,6141
2,1274,2018,Y,ALLEGHANY CORP,25344.896,14.577,17482.424,116.616,6873.460,NaN,0.000,A,623.32,6331
3,1274,2019,Y,ALLEGHANY CORP,26931.604,14.365,17950.117,1208.593,9025.716,NaN,0.000,A,799.57,6331
4,1414,2018,PRI,PRIMERICA INC,12595.048,42.694,11133.535,444.893,1899.843,NaN,0.000,A,97.71,6311

##### Remove all financial institutions (SIC: 6000–6999) and regulated industries (SIC: 4900–4999).

In [9]:
#Standard Industry Classification Code
financialInst = dataComp.loc[(dataComp['Standard Industry Classification Code'] >= 6000) &  (dataComp['Standard Industry Classification Code'] <= 6999)]
regulInst = dataComp.loc[(dataComp['Standard Industry Classification Code'] >= 4900) &  (dataComp['Standard Industry Classification Code'] <= 4999)]

In [10]:
dataFrame = pd.concat([dataComp, financialInst, regulInst]).drop_duplicates(keep=False)
dataFrame.head()

,Global Company Key,Data Year - Fiscal,Ticker Symbol,Company Name,Assets - Total,Common Shares Outstanding,Liabilities - Total,Operating Income After Depreciation,Sales/Turnover (Net),Research and Development Expense,"Selling, General and Administrative Expense",Active/Inactive Status Marker,Price Close - Annual - Fiscal,Standard Industry Classification Code
6,1773,2018,ARW,ARROW ELECTRONICS INC,17784.445,85.191,12408.079,1211.477,29676.768,0.0,2303.051,A,68.95,5065
7,1773,2019,ARW,ARROW ELECTRONICS INC,16400.796,80.620,11534.403,957.348,28916.847,0.0,2175.443,A,84.74,5065
8,1794,2018,ASH,ASHLAND GLOBAL HOLDINGS INC,8252.000,62.000,4846.000,328.000,3743.000,85.0,667.000,A,83.86,2820
9,1794,2019,ASH,ASHLAND GLOBAL HOLDINGS INC,7251.000,60.000,3680.000,264.000,2493.000,66.0,465.000,A,77.05,2820
10,1919,2018,AVT,AVNET INC,9596.845,115.825,4911.764,557.081,19036.892,NaN,1970.103,A,42.89,5065

###### Split the DataFrame in two DataFrames based on fiscal year, one for 2019 and one for 2018 (using suffixes=('_19', '_18')), and then merge these two DataFrames such that their columns are next to each other (merge on 'Global Company Key', 'Ticker Symbol', and 'Company Name').

In [13]:
data_19 = dataComp.loc[dataComp['Data Year - Fiscal'] == 2019]
data_18 = dataComp.loc[dataComp['Data Year - Fiscal'] == 2018]
data_18.head()

,Global Company Key,Data Year - Fiscal,Ticker Symbol,Company Name,Assets - Total,Common Shares Outstanding,Liabilities - Total,Operating Income After Depreciation,Sales/Turnover (Net),Research and Development Expense,"Selling, General and Administrative Expense",Active/Inactive Status Marker,Price Close - Annual - Fiscal,Standard Industry Classification Code
0,1076,2018,PRG,PROG HOLDINGS INC,2826.692,67.184,1065.984,290.087,3828.923,NaN,1522.783,A,42.05,6141
2,1274,2018,Y,ALLEGHANY CORP,25344.896,14.577,17482.424,116.616,6873.460,NaN,0.000,A,623.32,6331
4,1414,2018,PRI,PRIMERICA INC,12595.048,42.694,11133.535,444.893,1899.843,NaN,0.000,A,97.71,6311
6,1773,2018,ARW,ARROW ELECTRONICS INC,17784.445,85.191,12408.079,1211.477,29676.768,0.0,2303.051,A,68.95,5065
8,1794,2018,ASH,ASHLAND GLOBAL HOLDINGS INC,8252.000,62.000,4846.000,328.000,3743.000,85.0,667.000,A,83.86,2820

In [14]:
mergedDataset = pd.merge(data_19, data_18, on='Global Company Key')
mergedDataset.head()

,Global Company Key,Data Year - Fiscal_x,Ticker Symbol_x,Company Name_x,Assets - Total_x,Common Shares Outstanding_x,Liabilities - Total_x,Operating Income After Depreciation_x,Sales/Turnover (Net)_x,Research and Development Expense_x,...,Assets - Total_y,Common Shares Outstanding_y,Liabilities - Total_y,Operating Income After Depreciation_y,Sales/Turnover (Net)_y,Research and Development Expense_y,"Selling, General and Administrative Expense_y",Active/Inactive Status Marker_y,Price Close - Annual - Fiscal_y,Standard Industry Classification Code_y
0,1076,2019,PRG,PROG HOLDINGS INC,3297.800,66.718,1560.541,313.931,3947.656,NaN,...,2826.692,67.184,1065.984,290.087,3828.923,NaN,1522.783,A,42.05,6141
1,1274,2019,Y,ALLEGHANY CORP,26931.604,14.365,17950.117,1208.593,9025.716,NaN,...,25344.896,14.577,17482.424,116.616,6873.460,NaN,0.000,A,623.32,6331
2,1414,2019,PRI,PRIMERICA INC,13688.531,41.207,12036.040,505.922,2052.504,NaN,...,12595.048,42.694,11133.535,444.893,1899.843,NaN,0.000,A,97.71,6311
3,1773,2019,ARW,ARROW ELECTRONICS INC,16400.796,80.620,11534.403,957.348,28916.847,0.0,...,17784.445,85.191,12408.079,1211.477,29676.768,0.0,2303.051,A,68.95,5065
4,1794,2019,ASH,ASHLAND GLOBAL HOLDINGS INC,7251.000,60.000,3680.000,264.000,2493.000,66.0,...,8252.000,62.000,4846.000,328.000,3743.000,85.0,667.000,A,83.86,2820

#### Calculate the three variables that are part of the real earnings management model.

In [78]:
####Similarly, The formula for curtailment of discretionary R&D costs is:
##### SG&Ait/TotalAssetsit−1 = β1 + β2(1/TotalAssetsit−1) + β3(Salesit−1/TotalAssetsit−1) + ϵit

### Lets define this equation in form of 

### y = b1 + b2(x1) + b3(x2) + Eit

### We need to get values of b1 b2 b3 and eit for this we apply linear regression

In [16]:
import numpy as np
x1 = 1/(data_19['Assets - Total'].values - 1)
x2 = (data_19['Sales/Turnover (Net)'].values - 1) / (data_19['Assets - Total'].values - 1 )
X = np.array([x1, x2])
y = data_19['Selling, General and Administrative Expense'].values / (data_19['Assets - Total'].values - 1)
X = X.transpose()
reg = linear_model.LinearRegression()
reg.fit(X,y)
b2, b3  = reg.coef_
b1 = reg.intercept_
eit = reg.score(X,y)

###### Use statsmodels to conduct a regression analysis in order to obtain the proxies for earnings management (i.e., save the residuals as a variable).

In [18]:
slope, intercept, r_value, p_value, std_err = stats.linregress(dataComp['Operating Income After Depreciation'],dataComp['Sales/Turnover (Net)'])

In [19]:
print ("r-squared:", r_value**2)

r-squared: 0.16681734899828496

###### Import the Execucomp or Audit Analytics dataset (see the column "Determinant" of Table 1) for "your" S&P list (see the column "S&P list" of Table 1), and assign it to a DataFrame variable.

In [20]:
auditData = pd.read_excel('data_aud_sp400.xlsx')
auditData.head()

  Fiscal year ended  Audit fees  Company fkey TICKER                   NAME
0        2019-12-31    11387815          7536    ARW  ARROW ELECTRONICS INC
1        2019-12-31     1800000          7789    ASB   ASSOCIATED BANC-CORP
2        2019-06-29     5400000          8858    AVT              AVNET INC
3        2019-04-30     2914386         12659    HRB          H&R BLOCK INC
4        2019-12-31     4357932         14930     BC         BRUNSWICK CORP

##### If "your" determinant is audit fees, first check whether the minimum value of audit fees is smaller than 1, and if so, shift its distribution such that its minimum value becomes 1, and then calculate the natural logarithm of audit fees.

In [21]:
auditData['Audit fees'].min()

231325

In [22]:
import numpy as np
auditData['Audit_fees_log'] = np.log(auditData['Audit fees'])

##### If "your" determinant is CEO power, first create a new variable which is equal to the total compensation of the whole top management team (using the groupby() and transform(sum) methods), next calculate the CEO power variable, and then select only the rows where the 'Annual CEO Flag' is equal to 'CEO'.

my determinant is not CEO

###### Merge the two DataFrames (i.e., merge the Compustat DataFrame and the Execucomp or Audit Analytics DataFrame); use an 'inner' merge, and merge on the ticker columns.

In [23]:
dataFrame['TICKER'] = dataFrame['Ticker Symbol']
mergedAduit =  pd.merge(dataFrame, auditData, on='TICKER')

In [24]:
mergedAduit.head()

,Global Company Key,Data Year - Fiscal,Ticker Symbol,Company Name,Assets - Total,Common Shares Outstanding,Liabilities - Total,Operating Income After Depreciation,Sales/Turnover (Net),Research and Development Expense,"Selling, General and Administrative Expense",Active/Inactive Status Marker,Price Close - Annual - Fiscal,Standard Industry Classification Code,TICKER,Fiscal year ended,Audit fees,Company fkey,NAME,Audit_fees_log
0,1773,2018,ARW,ARROW ELECTRONICS INC,17784.445,85.191,12408.079,1211.477,29676.768,0.0,2303.051,A,68.95,5065,ARW,2019-12-31,11387815,7536,ARROW ELECTRONICS INC,16.248054
1,1773,2019,ARW,ARROW ELECTRONICS INC,16400.796,80.620,11534.403,957.348,28916.847,0.0,2175.443,A,84.74,5065,ARW,2019-12-31,11387815,7536,ARROW ELECTRONICS INC,16.248054
2,1794,2018,ASH,ASHLAND GLOBAL HOLDINGS INC,8252.000,62.000,4846.000,328.000,3743.000,85.0,667.000,A,83.86,2820,ASH,2019-09-30,6658130,1674862,ASHLAND GLOBAL HOLDINGS INC,15.711349
3,1794,2019,ASH,ASHLAND GLOBAL HOLDINGS INC,7251.000,60.000,3680.000,264.000,2493.000,66.0,465.000,A,77.05,2820,ASH,2019-09-30,6658130,1674862,ASHLAND GLOBAL HOLDINGS INC,15.711349
4,1919,2018,AVT,AVNET INC,9596.845,115.825,4911.764,557.081,19036.892,NaN,1970.103,A,42.89,5065,AVT,2019-06-29,5400000,8858,AVNET INC,15.501910

###### Use statsmodels to conduct the main regression analysis.

In [25]:
slope, intercept, r_value, p_value, std_err = stats.linregress(mergedAduit['Audit fees'],mergedAduit['Sales/Turnover (Net)'])

In [26]:
print ("r-squared:", r_value**2)

r-squared: 0.3196590313087934

###### For the discretionary SG&A costs model, select the following items from the Compustat dataset: CONM, TIC, XSGA, AT, SALE (Note: Make sure to collect the data for the correct years.)

In [27]:
newDataFrame_19 = data_19[['Selling, General and Administrative Expense','Assets - Total','Sales/Turnover (Net)','Common Shares Outstanding']]
newDataFrame_18 = data_18[['Selling, General and Administrative Expense','Assets - Total','Sales/Turnover (Net)','Common Shares Outstanding']]

In [28]:
newDataFrame_19.head(5)

,"Selling, General and Administrative Expense",Assets - Total,Sales/Turnover (Net),Common Shares Outstanding
1,1419.053,3297.800,3947.656,66.718
3,0.000,26931.604,9025.716,14.365
5,0.000,13688.531,2052.504,41.207
7,2175.443,16400.796,28916.847,80.620
9,465.000,7251.000,2493.000,60.000

In [29]:
newDataFrame_18.head(5)

,"Selling, General and Administrative Expense",Assets - Total,Sales/Turnover (Net),Common Shares Outstanding
0,1522.783,2826.692,3828.923,67.184
2,0.000,25344.896,6873.460,14.577
4,0.000,12595.048,1899.843,42.694
6,2303.051,17784.445,29676.768,85.191
8,667.000,8252.000,3743.000,62.000

In [31]:
newDataFrame_19['Selling, General and Administrative Expense'] = newDataFrame_19['Selling, General and Administrative Expense'].fillna(0)
newDataFrame_18['Selling, General and Administrative Expense'] = newDataFrame_18['Selling, General and Administrative Expense'].fillna(0)

C:\Users\Hassan\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Hassan\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

###### if applicable, select the following items from the Audit Analytics dataset: NAME, BEST_EDGAR_TICKER, audit_fees

In [98]:
newAuditData = auditData[['NAME','Audit_fees_log','Audit fees']]
newAuditData.head()

                    NAME  Audit_fees_log  Audit fees
0  ARROW ELECTRONICS INC       16.248054    11387815
1   ASSOCIATED BANC-CORP       14.403297     1800000
2              AVNET INC       15.501910     5400000
3          H&R BLOCK INC       14.885170     2914386
4         BRUNSWICK CORP       15.287508     4357932